html,
body {
    margin: 0;
    font-family: 'Product Sans', monospace;
    user-select: none;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #151515;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.settings {
    font-size: var(--font-size);
}

.keyboard_body {
    font-size: var(--font-size);
    background-color: var(--main-bg);

    width: 18em;
    height: 12em;
}

.key_box {
    display: grid;
    grid-template-rows: repeat(5, 2.33em);
}

.keys {
    width: 18em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(10, auto);
}

.top_bar {
    margin-left: .16em;
    margin-right: .16em;
    width: 17.66em;
    display: grid;
    padding-top: .2em;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
}

.rec-bar {
    width: 10em;
    color: var(--key-color);
    margin: auto;
    display: grid;
    text-align: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 3em);
}

.simple_key {
    background-color: var(--key-bg);
    color: var(--key-color);

    border-radius: var(--key-border-radius);

    width: 1.23em;
    padding: .13em;
    margin: .13em;
    position: relative;
}

.top_bar_key {
    width: 1.23em;
    padding: .13em;
    position: relative;
}

.top_action {
    width: 1.23em;
    height: 1.23em;
    padding: .13em;
    border-radius: 50%;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.second_color {
    background-color: var(--second-key-bg);
}

.accent_color {
    background-color: var(--accent-bg);
    color: var(--main-bg);
}

.space {
    width: 6.56em;
}

.custom_key {
    width: 2.11em;
}

.letter {
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary_letter {
    color: var(--key-color);

    font-size: .4em;
    position: absolute;
    top: .15em;
    right: .25em;
}

.l123 {
    font-size: .66em;
    white-space: nowrap;
}

.shift,
.locale,
.backspace,
.return {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.emoji {
    position: absolute;
    top: .15em;
    left: 50%;
    transform: translateX(-50%);
}

.shift path {
    stroke: var(--key-color);
}

.locale path {
    fill: var(--key-color);
}

.backspace path {
    fill: var(--key-color);
}

.emoji path {
    fill: var(--key-color);
}

.return path {
    fill: var(--main-bg);
}

.action path {
    fill: var(--key-color)
}